
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <div id="coaching" class="rounded">
          <div class="answer">
          <h2>Q: <%=@message%></h2>
          <h4>A: <%=@answer%></h4>
          <h4><%= link_to "Ask another question", ask_path %></h4>
        </div>
        </div>
      </div>
    </div>
  </div>
